.app_dark_theme {
    --bg-color: #2f2f77;
    --inverted-bg-color: #4545d7;
    --primary-color: #049604;
    --secondary-color: #09e709;
    --inverted-primary-color: #010164;
    --inverted-secondary-color: #3030ee;
    --red-dark: #ce1d1d;
}
