.app_light_theme {
    --bg-color: #f6f6f6;
    --inverted-bg-color: #6969e1;
    --primary-color: #2d2dfd;
    --secondary-color: #3030ee;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #09e709;
    --red-dark: #f13f3f;
}
